*,
*::after,
*::before{
    box-sizing: border-box;
}

/* font-family: 'Kumbh Sans',
sans-serif; */


body{
font-family: 'Outfit',
  sans-serif;
}


a{
 color: inherit;
 text-decoration: none;
}

.container{
 max-width: 1200px;
 padding: 0 10px;
 margin: 0 auto;
}

.header{
 background-image: url('../images/header_bg.jpg');
 min-height: 100vh;
 background-size: cover;
 background-position: top;
 background-repeat: no-repeat;
}



.header__top{
 display: flex;
 justify-content: space-between;
 padding: 24px 10px;
 align-items: center;
}

.logo{
 font-size: 18px;
 line-height: 32px;
 color: #FFFFFF;
 font-weight: 700;
}

.menu{
 display: flex;
}

.menu__btn{
 display: none;
}

.menu__side{
 display: flex;
 align-items: center;
}

.menu__list{
 display:flex ;
 align-items: center;
}

.menu__item + .menu__item{
 margin-left: 52px;
 
}

.menu__item {
 font-size: 14px;
 line-height: 24px;
 font-weight: 600;
 color: #FFFFFF;
 position: relative;
 transition: all 0.3s ease-in-out;
}

.menu__item:before {
 content: "";
 background-image: url('../images/Selected.svg');
 background-repeat: no-repeat;
 background-size: cover;
 display: block;
 position: absolute;
 top: 30px;
 left: 0;
 width: 0;
 height: 3px;
 transition: all 0.3s ease-in-out;
}



.menu__item:hover {
 color: #7DF5CA;
 font-weight: bold;
}

.menu__item:hover::before {
 align-items: center;
 width: 100%;
 left: 0%;
}

.menu__item-dropdown:hover::before{
 display: none;
}

.menu__link{
 font-size: 14px;
 line-height: 24px;
 font-weight: 600;
 color: #FFFFFF;
 transition: all 0.5s;
}

.menu__link:hover{
 color: #7DF5CA;
 font-weight: bold;
 /* transform: translateY(-4px); */
}


.menu__traslate{
 border: none;
 background: transparent;
 color: #FFFFFF;
 font-family: 600;
}

.menu__traslate:hover {
 color: #7DF5CA;
 cursor: pointer;
}

.menu__traslate-option{
 background: rgba(13, 44, 89, 0.9);
 border: none;

}

.menu__side-traslate{
 margin-left: 40px;
}

.menu__side-contact{
 margin-left: 24px;
 font-size: 12px;
 line-height: 15px;
 color: #FFFFFF;
 font-weight: 600;
 padding: 14px 32px 14px 8px;
 border: 1px solid #7DF5CA;
 border-radius: 23px;
}

.menu__side-link{
 margin-left: 10px;
}

.menu__side-phone{
 padding-left: 28px;
 transition: all 0.5s;
}

.menu__side-phone path:hover{
 fill: #7DF5CA;
}

.dropdown {
 float: left;
 overflow: hidden;
}

.dropbtn{
 font-weight: 600;
 font-family: 'Outfit',
   sans-serif;
}

.dropdown .dropbtn {
 cursor: pointer;
 font-size: 14px;
 border: none;
 outline: none;
 color: white;
 padding: 14px 16px;
 background-color: inherit;
 font-family: inherit;
 margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn,
.dropbtn:focus {
 background-color: transparent;
 color: #7DF5CA;
}

.dropdown-content {
 display: none;
 position: absolute;
 background-color: transparent;
 min-width: 100px;
 /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
 z-index: 10;
}

.dropdown-content a {
 float: none;
 color: #FFFFFF;
 opacity: 0.9;
 padding: 3px 15px;
 text-decoration: none;
 display: block;
 text-align: left;
 font-weight: 500;
 font-size: 15px;
}

.dropdown-content a:hover {
 color: #7DF5CA;
 font-weight: 600;
 box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.show {
 display: block;
}

.showL {
 display: block;
}

.fa-caret-down:before {
 padding-left: 5px;
}



.header__content-inner{
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 min-height: calc(100vh - 94px);
 position: relative;
}

.header__content-top{
 z-index: 3;
}

.intelligence-img{
 position: absolute;
 right: 0px;
 bottom: 0;
 z-index: 1;

}

.box__title-link{
 transition: all 0.5s;
}

.box__title-link:hover{
 color: #7DF5CA;
}

.header__title{
 font-weight: 600;
 font-size: 56px;
 line-height: 63px;
 color: #FFFFFF;
 padding-top: 270px;
 margin-top: auto;
 z-index: 2;
}

.title__online{
 font-weight: 400;
 font-size: 48px;
 line-height: 52px;
 /* font-family: "Outfit", sans-serif; */
}

.header__content-text{
 font-weight: 400;
 font-size: 20px;
 line-height: 32px;
 /* font-family: "Outfit", sans-serif; */
 color: #FFFFFF;
 max-width: 700px;
 margin-bottom: auto;
 opacity: 0.7;
 padding-top: 10px;
}

.header__content-bottom{
 display: flex;
 justify-content: center;
 z-index: 3;
}

.header__content-box{
 width: 225px;
 height: 130px;
 background: rgba(13, 44, 89,0.35);
 color: #FFFFFF;
 padding: 24px;
 border-radius: 10px;
 margin-bottom: 20px;
  
}

.header__content-box + .header__content-box{
 margin-left: 25px;
}

.box__title{
 font-family: "Kumbh Sans", sans-serif;
 font-weight: 700;
 font-size: 21px;
 line-height: 56px;
 color: #FFFFFF;
 padding-left: 55px;
 position: relative;
}

.box__title::before{
 content: "";
 position: absolute;
 width: 35px;
 height: 35px;
 background-image: url('../images/header_icon.svg');
 background-repeat: no-repeat;
 left: 0;
 top: 10px;
}

.header__content-boxText{
 /* font-family: 'Outfit', sans-serif; */
 font-weight: 400;
 font-size: 13px;
 line-height: 18px;
 color: #FFFFFF;
 opacity: 0.7;
}

.header__content-bottom--slider {
 display: none;
}

.about{
 padding: 128px 0 72px;
 background-color: #041329;
 color: #FFFFFF;
 position: relative;
}

.about::before {
 content: "";
 background-image: url('../images/BgAbout-left.png');
 background-repeat: no-repeat;
 position: absolute;
 width: 50%;
 height: 702px;
 left: -150px;
 top: 0;
 transform: rotate(-180deg);
}


.about__work{
 padding: 50px 64px 64px;
 background-color: #0D2C59;
 border-radius: 14px;
 margin-bottom: 64px;
 display: flex;
 justify-content: space-between;
}

.about__work-left{
 max-width: 460px;
}

.about__work-list{
 list-style: none;
 text-transform: capitalize;
 display: flex;
 align-items: end;
 position: relative;
 padding-bottom: 5px;
 flex-wrap: wrap;
}

.about__work-proses {
 position: absolute;
 left: 50%;
 top: 10%;
 font-size: 15px;
 line-height: 22px;
 font-weight: 400;
 /* font-family: "Outfit", sans-serif; */
 opacity: 0.7;
}

.about__work-title{
 font-size: 32px;
 line-height: 36px;
 font-weight: 600;
 /* font-family: "Outfit", sans-serif; */
 
}

.about__work-text{
 font-size: 15px;
 line-height: 22px;
 font-weight: 400;
 /* font-family: "Outfit", sans-serif; */
 margin-top: 10px;
 opacity: 0.7;
}

.about__work-list li + li{
 margin-left: 40px;
}

.about__work-item{
 background-color: #1F4378;
 border-radius: 29px;
 padding: 8px 22px 8px 22px;
 font-size: 15px;
 line-height: 22px;
 font-weight: 400;
 /* font-family: "Outfit", sans-serif; */
 margin-top: 10px;
 opacity: 0.7;
 position: relative;
}

.about__work-item::before {
 content: "";
 background-image: url('../images/aboutVector.svg');
 background-repeat: no-repeat;
 background-position: center bottom;
 position: absolute;
 width: 18px;
 height: 28px;
 transform: rotate(-90deg);
 left: -29px;
 top: 8px;
}

.about__work-itemFirst::before{
 background-image: none;
}

.about__title,
.about__title-top{
 font-size: 32px;
 line-height: 40px;
 font-weight: 600;
 /* font-family: "Outfit", sans-serif; */
 text-align: center;
 /* text-transform: uppercase; */
 margin-bottom: 15px;
}

.about__subtitle{
 font-size: 24px;
 line-height: 32px;
 font-weight: 600;
 /* font-family: "Outfit",sans-serif; */
 text-align: center;
 margin-bottom: 75px;
 opacity: 0.7;
}

.about__items{
 display: flex;
 justify-content: space-between;
 flex-wrap: wrap;
 /* flex-wrap: wrap; */
}

.about__item{
 padding: 32px 22px;
 width: 265px;
 min-height: 240px;
 background-color: #0D2C59;
 border-radius: 13px;
}


.about__item-icon{
 margin-bottom: 24px;
}

.about__item-title{
 font-size: 17px;
 line-height: 24px;
 font-weight: 600;
 /* font-family: "Outfit", sans-serif; */
 margin-bottom: 16px;
 text-transform: uppercase;
}

.about__text{
 font-size: 15px;
 line-height: 22px;
 font-weight: 400;
 /* font-family: "Outfit", sans-serif; */
 margin-top: 16px;
 
 text-align: center;
 max-width: 900px;
 margin: 0 auto;
 margin-bottom: 64px;
 opacity: 0.7;
}

.about__item-text{
 font-size: 14px;
 line-height: 22px;
 font-weight: 400;
 /* font-family: "Outfit", sans-serif; */
 opacity: 0.7;
}

.about__item-list{
 font-size: 14px;
 line-height: 22px;
 font-weight: 400;
 /* font-family: "Outfit", sans-serif; */
 opacity: 0.7;
 list-style: none;
}


.clients{
 padding: 48px 0 125px;
 background-color: #041329;
 color: #FFFFFF;

 
}

.clients__title{
 font-size: 32px;
 line-height: 40px;
 font-weight: 600;
 text-align: center;
 margin-bottom: 16px;
}

.clients__list{
 list-style: none;
 display: flex;
 justify-content: space-evenly;
 padding: 32px 160px 32px;
}

.clients__list-title{
 font-size: 24px;
 line-height: 32px;
 font-weight: 500;
 margin-bottom: 15px;
 /* text-align: center; */
}

.clients__list-item{
 width: 250px;
}

.clients__list-itemInner{
 list-style: none;
 display: flex;
 flex-direction: column;
 font-size: 20px;
 line-height: 24px;
 font-weight: 500;
 opacity: 0.7;
 padding-left: 15px;

}

.clients__list-itemInner-link{
 padding: 10px;
 
}

.clients__list-itemInner-linkCourse{
 transition: all 0.5s;
 
}

.clients__list-itemInner-linkCourse:last-child {
 line-height: 27px;

}

.clients__list-itemInner-linkCourse:hover{
 color: #7DF5CA;
 font-size: 21px;
 
}

.clients__text{
 font-size: 15px;
 line-height: 18px;
 font-weight: 500;
 opacity: 0.7;
 text-align: center;
 /* text-decoration: underline; */
}

/* .footer {
    padding: 30px 0 110px;
    font-size: 35px;
} */

.price{
 color: #FFFFFF;
 padding: 90px 0;
 min-height: 672px;
 background-image: url("../images/Bgprice.jpg");
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center bottom;
}

.price__inner-child,
.price__inner-adult {
 width: 500px;
 min-height: 550px;
 padding: 65px 25px 20px;
 border-radius: 15px;
 background: rgba(13, 44, 89, 0.7);
 text-align: center;
 letter-spacing: 1.25px;
 font-size: 20px;
 line-height: 24px;
 font-weight: 500;
 position: relative;
}

.price__title{
 font-size: 32px;
 line-height: 40px;
 font-weight: 600;
 text-align: center;
 margin-bottom: 80px;
}

.price__title-child,
.price__title-adult{
 text-transform: uppercase;
}

.price__title-child,
.price__title-adult{
 margin-bottom: 25px;
}

.price__title-child::after{
 content: "Старт: 3 вересня";
 position: absolute;
 text-transform: none;
 top: 15px;
 right: 20px;
 color: #7DF5CA;
}

.price__title-adult::after{
 content: "Старт: 3 жовтня";
 position: absolute;
 text-transform: none;
 top: 15px;
 right: 20px;
 color: #7DF5CA;
}

.price__inner{
 display: flex;
 justify-content: space-evenly;
}

.price__list{
 text-align: start;
 list-style: none;
 margin-bottom: 25px;
}

.price__list-item{
 font-size: 20px;
 line-height: 24px;
 font-weight: 500;
 padding: 8px 0;
 opacity: 0.7;
}

.price__count{
 font-size: 28px;
 line-height: 32px;
 color: #7DF5CA;
 margin-bottom: 40px;
}

.price__btn{
 background-color: #7DF5CA;
 color: #000;
 padding: 15px 0;
 display: block;
 border-radius: 15px;
 text-transform: uppercase;
}

.price__btn:hover {
 background-color: #041329;
 color: #7DF5CA;
}

.contact-us{
 padding: 160px 0 50px;
 background-color: #0F1D31;
 
}

.map{
 position: relative;
}

.location__map {
 position: absolute;
 top: -530px;
 left: 56%;
}

.map__img{
 margin: 0 auto;
 display: block;
}

.map__img-adaptive {
 display: none;
}

.location{
 padding: 25px 18px;
 color: #FFFFFF;
 background-color: #041329;
 max-width: 275px;
 border-radius: 10px;
 position: relative;
}

.location__title{
 margin-bottom: 20px;
 padding-left: 33px;
 font-size: 17px;
 line-height: 24px;
 font-weight: 600;
 position: relative;
}

.location__phone{
 padding-left: 33px;
 font-size: 16px;
 line-height: 26px;
 opacity: 0.7;
 position: relative;
}

.location__address{
 margin-bottom: 8px;
 padding-left: 33px;
 font-size: 16px;
 line-height: 26px;
 opacity: 0.7;
 position: relative;
}

.location__title::before {
 content: "";
 position: absolute;
 width: 24px;
 height: 24px;
 background-image: url('../images/office-png.png');
 background-repeat: no-repeat;
 left: 0;
 top: 0px;
}

.location__address::before{
 content: "";
 position: absolute;
 width: 35px;
 height: 35px;
 background-image: url('../images/address.png');
 background-repeat: no-repeat;
 left: 0;
 top: 0;
}

.location__phone::before {
 content: "";
 position: absolute;
 width: 35px;
 height: 35px;
 background-image: url('../images/phone.svg');
 background-repeat: no-repeat;
 left: 8px;
 top: 2px;
}

.location__leg{
 position: absolute;
 left: 2px;
 bottom: -40px;
}


.footer{
 padding: 55px 0 45px;
 background-color: #041329;
 color: #FFFFFF;
 position: relative;
}

.footer::before {
 content: "";
 background-image: url('../images/BgFoot-left.png');
 background-repeat: no-repeat;
 position: absolute;
 width: 860px;
 height: 426px;
 bottom: 0px;
 left: 0;
}

.footer::after {
 content: "";
 background-image: url('../images/BgFoot-right.png');
 background-repeat: no-repeat;
 position: absolute;
 width: 860px;
 height: 426px;
 bottom: 0px;
 right: 0;
}

.footer-top{
 display: flex;
 justify-content: space-between;
 margin-bottom: 100px;
 flex-wrap: wrap;
}

.footer-top__item{
 padding: 0 30px;
 width: 210px;
}

.footer-top__title{
 margin-bottom: 20px;
 font-size: 14px;
 line-height: 24px;
 font-weight: 600;
 padding-top: 7px;
}

.footer-logo{
 font-size: 18px;
 line-height: 32px;
 font-weight: 700;
}

.footer-top__list{
 list-style: none;
}

.footer-top__list-item{
 font-size: 14px;
 line-height: 24px;
 font-weight: 500;
 padding: 5px 0;
 opacity: 0.7;
 z-index: 2;
}

.footer-top__list-link:hover{
 color: #7DF5CA;
 cursor: pointer;
}

.footer-top__traslate-item{
 width: 80px;
 padding: 0 15px;
}

.footer__traslate-title{
 text-align: end;
}

.footer-top__email{
 padding: 15px 0;
 display: block;
}

.footer-top__phone{
 position: relative;
 padding-left: 30px;
 font-size: 14px;
 line-height: 24px;
 font-weight: 500;
 
}

.footer-top__phone::before {
 content: "";
  background-image: url('../images/phone.svg');
  background-repeat: no-repeat;
  position: absolute;
  width: 15px;
  height: 15px;
  top: 2px;
  left: 0;
  opacity: 0.3;
}

.footer-top__item{
 z-index: 2;
}

.footer-top__contact{
 padding: 0;
 /* text-align: center; */
}

.footer-top__email{
 letter-spacing: 1.1px;
}

.footer-top__phone{
 letter-spacing: 1.1px;
}


.footer__social-link svg{
 fill: #FFFFFF;
 margin-left: 25px;
 transition: all 0.3s;
 width: 20px;
 height: 20px;
 /* padding: 5px; */
}

.footer__social-link svg:hover {
 fill: #7DF5CA;
 width: 25px;
 height: 25px;
 
}

.footer__social-list{
 list-style: none;
 display: flex;
 justify-content: center;
 padding-bottom: 25px;
}

.footer__social-item{
 z-index: 2;
 height: 30px;
}

.go-top{
 position: absolute;
 right: 20px;
 bottom: 30px;
}

.footer-bottom__copy{
 font-size: 14px;
 line-height: 24px;
 font-weight: 500;
 opacity: 0.7;
 text-align: center;
}

.footer__dropdown .dropbtn{
 padding: 0;
}

.dropdown-content-link a{
 padding: 7px 0;
}

/* .footer-logo{
 display: flex;
 flex-direction: column-reverse;
} */

.footer-logo{
 position: relative;
}

.footer-logo::after{
 content: "";
 position: absolute;
 background-image: url("../images/logo_rainbow.jpg");
 background-repeat: no-repeat;
 background-size: contain;
 width: 90px;
 height: 90px;
 opacity: 0.3;
 border-radius: 50%;
 left: 0px;
 top: 5px
}

.footer-logo {
 padding-top: 95px;
}


@media(max-width: 1180px) {
 .about__item{
  margin-bottom: 30px;
 }

 .about__work{
  flex-direction: column;
 }

 .price__inner{
  flex-wrap: wrap;
 }

 .price__inner-child{
  margin-bottom: 50px;
 }

}


@media(max-width: 1000px) {

.container {
  padding: 0 16px;
 }

.header__top {
 padding: 24px 0px 24px 0px;
}


.menu__side{
z-index: 10;
}

.menu__side-link{
 padding: 8px 0px 8px 0;
}

.menu__list{
 display: none;
}

 .menu__side-contact{
 padding: 14px 32px 14px 28px;
 margin-left: 10px;
}

.menu__side-phone{
 padding-left: 0px;
}

.menu__btn {
 display: block;
 background-color: transparent;
 border: none;
 padding: 5px 0px 5px 0px;
}

.header__content-bottom{
 flex-wrap: wrap;
}

.menu__list {
 padding-left: 24px;
 position: absolute;
 left: 0;
 right: 0;
 top: 0;
 display: block;
 min-height: 100vh;
 transform: translateY(-200%);
 transition: all .5s;
 background-image: url(../images/bg-mobile.svg);
 background-repeat: no-repeat;
 background-size: cover;
 background-color: #041329;
 z-index: 6;
 padding-top: 120px;
 }

 .menu__list.menu__list--activ {
  top: 75px;
  transform: translateY(-78px);
 }

 .menu__traslate {
  display: block;
 }

 .menu__btn{
  z-index: 6;
 }

  .dropdown .dropbtn-adaptive{
    font-size: 24px;
    padding: 0px;
 }

.dropdown-content a {
 float: left;
 padding: 20px 20px;
 font-weight: 500;
 font-size: 18px;
 text-transform: uppercase;
}

 .menu__item-dropdown{
  margin-bottom: 53px;
  font-size: 12px;
 }

  .dropdown-content a:hover {
   color: white;
  }

 .logo{
  z-index: 7;
  font-size: 18px;
 }

 .menu__item + .menu__item{
  margin-left: 0;
 }

 .menu__item{
  padding-bottom: 53px;
 }

 .menu__link-adaptive{
 font-size: 24px;
 font-weight: 600;
 }

 .menu__side-contact{
  z-index: 5;
 }
 
 .menu__list a {
   display: block;
  }



 .footer-top__item{
  margin-bottom: 25px;
 }

}

@media(max-width: 890px) {
.clients__list{
 flex-direction: column;
}

.clients__list{
 align-items: center;
}

.clients__list-item{
 margin-bottom: 20px;
}

.footer::after,
.footer::before {
 content: none;
}

}


@media(max-width: 745px) {
 .about__work-list{
  padding-top: 35px;
 }

 .map__img {
  width: 100%;
 }

  .location {
   max-width: 230px;
  }

.location__map {
 top: -443px;
 left: 58%;
}

}

@media(max-width: 600px) {
.header__title {
 padding-top: 150px;
}

.header__content-bottom {
 display: none;
}

.header__content-bottom--slider{
 display: block;
}

.slick-track{
 padding-left: 15px;
}

.about {
 padding: 90px 0 32px;
 
}

.about__items{
 justify-content: space-evenly;
}

.about__title {
 font-size: 30px;
 line-height: 34px;
 font-weight: 600;
 margin-bottom: 15px;
 text-transform: none;
}

.about__subtitle {
 font-size: 18px;
 line-height: 24px;
 margin-bottom: 30px;
}

.about__item {
 margin-bottom: 20px;
}

.about__text span{
 display: none;
}

.about__text{
 letter-spacing: 0.5px;
 text-align: start;
}

.about__work {
 padding: 56px 24px 56px;
 text-align: center;
}

.about__work-title{
 font-size: 30px;
 line-height: 34px;
}

.about__work-text{
 letter-spacing: 0.5px;
}

.about__work-proses{
 left: 40%;
 top: 0%;
}

.about__work-text{
 margin-bottom: 15px;
}

.about__work-itemFirst{
 margin-left: 10px;
}

.clients__list-itemInner {
 font-size: 18px;
 line-height: 22px;
}

.price{
 padding: 70px 0;
}

.price__list-item {
 font-size: 16px;
 line-height: 21px;
 padding: 7px 0;
 letter-spacing: 1.25px;
 }

.price__title {
 font-size: 30px;
 line-height: 36px;
 font-weight: 600;
 margin-bottom: 50px;
}

.price__count{
 font-size: 26px;
 line-height: 30px;
 margin-bottom: 25px;
}

.price__btn{
 font-size: 18px;
 line-height: 24px;
 border-radius: 5px;
}

.price__title-child,
.price__title-adult {
 margin-bottom: 10px;
}

.map__img {
 width: 90%;
}

.location {
 max-width: 220px;
 padding: 10px 10px;
}

.location__map {
 top: -343px;
 left: 58%;
}

.footer-top{
 flex-direction: column;
 align-items: center;
}

.footer-logo{
 text-align: center;
 margin-bottom: 25px;
}

.footer-top__title{
 margin-bottom: 10px;
}

 .footer::before {
  content: "";
  background-image: url('../images/BgFadaptLeft.png');
  background-repeat: no-repeat;
  position: absolute;
  width: 360px;
  height: 568px;
  bottom: 0px;
  left: 0;
 }

 .footer::after {
  content: "";
  background-image: url('../images/BgFadaptRight.png');
  background-repeat: no-repeat;
  position: absolute;
  width: 360px;
  height: 568px;
  bottom: 0px;
  right: 0;
 }

  .intelligence-img {
   z-index: 0;
   width: 90%;
   
  }

  /* .footer-logo{
   margin-left: 0;
  } */

  .footer-top__item{
   text-align: center;
   font-size: 16px;
   margin-bottom: 15px;
   padding: 0px 8px;
  }

  .footer-top__title{
   font-size: 16px;
   line-height: 18px;
  }

  .footer-top__contact{
   padding-top: 35px;
  }

  .footer-top__contact .footer-top__title{
   margin-bottom: 30px;
  }

  .footer-top__phone{
   font-size: 16px;
   line-height: 18px;
   letter-spacing: 1px;
  }

  .footer-top__email{
   letter-spacing: 1px;
   font-size: 16px;
  }

}

@media(max-width: 390px) {

 .menu__traslate-link {
  font-size: 16px;  
 }

 .menu__side-traslate {
  margin-left: 0px;
 }

 .menu__traslate-link {
  z-index: 6;
 }

 .menu__side-contact {
   padding: 12px 22px 12px 20px;
   margin-left: 10px;
 }

 .header__title {
   font-size: 40px;
   line-height: 45px;
   padding-top: 75px;
   margin-bottom: 32px;
   font-weight: 600;
  }
 
  .title__online {
   font-size: 40px;
   line-height: 42px;
  }

  .header__content-text {
    font-size: 16px;
    line-height: 24px;
  }

    .map {
     width: 100%;
    }

  .map__img{
   display: none;
   
  }

  .map__img-adaptive{
   display: block;
   width: 100%;
  }

  

  .location {
   max-width: 255px;
   padding: 20px 10px;
  }

  .location__map {
   top: -432px;
   left: -3%;
  }

  .location__leg {
    left: 230px;
    bottom: -40px;
  }

 .contact-us {
  padding-bottom: 10px;

 }



  .footer-top__list{
   display: none;
  }

  


}

@media(max-width: 370px) {
 
 .menu__side {
   flex-direction: column-reverse;
  }

  .header__title {
   font-size: 40px;
   line-height: 45px;
   padding-top: 150px;
   margin-bottom: 32px;
  }

  .title__online {
   font-size: 40px;
   line-height: 42px;
  }

 .menu__side-contact{
   margin-bottom: 10px;
   padding-top: 15px;
 }
 
 .about__work-itemFirst{
 margin-left: 42px;
 }
 
}